* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Glogal options */
.search-field::-webkit-input-placeholder {
  padding-left: 20px;
}
.search-field::-moz-placeholder {
  padding-left: 20px;
}
.search-field:-ms-input-placeholder {
  padding-left: 20px;
}
.search-field::-ms-input-placeholder {
  padding-left: 20px;
}
.search-field::placeholder {
  padding-left: 20px;
}

.has-dropdown ::after {
  content: url("../../img/svg/dropdown-sign.svg");
  margin-left: 10px;
}

.has-dropdown-horizontal::after {
  content: "";
  display: block;
  background-image: url("../../img/svg/dropdown-sign.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.scheme-light {
  color: white;
}
.scheme-light a {
  color: white;
}
.scheme-light a:hover {
  color: #617cf3;
}
.scheme-light *::after {
  -webkit-filter: invert(0%);
          filter: invert(0%);
}

.scheme-dark {
  color: black;
}
.scheme-dark a {
  color: black;
}
.scheme-dark a:hover {
  color: #617cf3;
}
.scheme-dark *::after {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.style-bordered > :not(:last-child)::after {
  content: "";
  background-color: #2978bd;
  padding-left: 2px;
  margin-right: 10px;
  margin-left: 10px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class^=col] {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.col-auto {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.col-1 {
  -ms-flex-preferred-size: 8.3333333333%;
      flex-basis: 8.3333333333%;
}

.col-2 {
  -ms-flex-preferred-size: 16.6666666667%;
      flex-basis: 16.6666666667%;
}

.col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.col-4 {
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
}

.col-5 {
  -ms-flex-preferred-size: 41.6666666667%;
      flex-basis: 41.6666666667%;
}

.col-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-8 {
  -ms-flex-preferred-size: 66.6666666667%;
      flex-basis: 66.6666666667%;
}

.col-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.col-10 {
  -ms-flex-preferred-size: 83.3333333333%;
      flex-basis: 83.3333333333%;
}

.header-top {
  background-color: #1169b6;
  margin-bottom: 20px;
}
.header-top .row {
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top .row .header-col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-top .row .header-col-right p {
  margin-right: 10px;
}
.header-top .row ul li {
  display: inline;
  margin-right: 10px;
}
.header-top .row ul li:last-child {
  margin-right: 0;
}

.header-middle {
  margin-bottom: 30px;
}
.header-middle .logo-img {
  padding-left: 15px;
  padding-right: 30px;
}
.header-middle .header-search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-middle .header-search [class^=col-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header-middle .header-search .col-auto {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
}
.header-middle .header-search .col-auto .search-field {
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(236, 236, 236);
  -webkit-box-shadow: 0 0 25px rgb(231, 231, 231);
          box-shadow: 0 0 25px rgb(231, 231, 231);
}
.header-middle .header-search .col-auto .select-category {
  position: absolute;
  opacity: 50%;
  top: 13px;
  right: 100px;
}
.header-middle .header-search .search-button {
  color: white;
  background: #1169b6;
  border: 1px solid #1169b6;
  border-radius: 5px;
  height: 44px;
  min-width: 50px;
}
.header-middle .header-search .search-button:hover {
  background: gray;
}
.header-middle .header-search > :last-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-middle .header-search > :last-child .my-account > :first-child {
  padding-right: 10px;
}
.header-middle .header-search > :last-child .cart > :first-child {
  padding-right: 10px;
}
.header-middle .search-field {
  margin-right: 5px;
  width: 100%;
  height: 40px;
}
.header-middle [class^=col-] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-bottom .header-menu {
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-bottom .header-menu > :last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}
.header-bottom .header-menu .browse-categories {
  height: 100%;
}
.header-bottom .header-menu .browse-categories .categories-btn {
  min-width: 200px;
  padding-left: 20px;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
}
.header-bottom .header-menu .browse-categories .categories-btn > :first-child {
  padding-right: 5px;
}
.header-bottom .header-menu .browse-categories .purchase-now::after {
  content: "";
  background-color: gray;
}
.header-bottom .header-menu .browse-categories .drop-down {
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  background: white;
}
.header-bottom .header-menu .browse-categories .drop-down li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #f5f5f5;
}
.header-bottom .header-menu .browse-categories .drop-down li a {
  width: 80%;
}
.header-bottom .header-menu .browse-categories .drop-down > :hover {
  background: #e9e9e9;
}
.header-bottom .header-menu .browse-categories .drop-down .item-icon {
  padding-right: 10px;
}
.header-bottom .header-menu nav {
  height: 100%;
}
.header-bottom .header-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.header-bottom .header-menu nav ul .active {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 53px;
  border-bottom: 3px solid #5687f1;
}
.header-bottom .header-menu nav ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 20px;
}
.header-bottom .header-menu nav ul > li:first-child {
  margin-left: 0;
}

.content {
  background-color: #fafafa;
}

.slider {
  min-height: 510px;
  background-image: url("../../img/hyperion-slider-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
.slider [class^=col] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.slider .row > :first-child .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider .row > :last-child .row {
  background: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider .product-img {
  max-width: 70px;
  border-radius: 5px;
}
.slider .read-more-btn {
  background: #f1bb2f;
  border-radius: 5px;
  padding: 15px 25px;
  color: white;
}
.slider .read-more-btn:hover {
  color: white;
  background: #bd901f;
}
.slider .switch-btn {
  padding: 7px 10px;
  border-radius: 50%;
  background: white;
  color: black;
}