@import "reset.css";
/* Glogal options */
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  padding: 3px;
}

.text {
  font-size: 15px;
  opacity: 70%;
}

.btn {
  border-radius: 5px;
  font-size: 14px;
}

.lite-text {
  opacity: 30%;
  font-size: 12px;
}

.out-shadow {
  box-shadow: 0 0 25px rgb(231, 231, 231);
}

.products {
  margin-bottom: 20px;
}
.products .product {
  box-shadow: 0 0 25px rgb(231, 231, 231);
}
.products .product-title {
  font-weight: 600;
  font-size: 14px;
}
.products .product-img img {
  max-width: 100%;
  margin-bottom: 10px;
}
.products .product-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.purchase-now {
  color: #1169B6;
}
.purchase-now :active {
  color: #1169B6;
}

.design-horizontal {
  display: flex;
  align-items: center;
}
.design-horizontal .product-img img {
  width: 100px;
  height: 120px;
  border-radius: 5px;
}

.bg-white {
  background-color: white;
  border-radius: 5px;
}

.info-blocks .container {
  padding: 20px 0;
}
.info-blocks .info-img {
  min-width: 30px;
}

.list-menu li {
  margin-bottom: 15px;
}
.list-menu img {
  display: inline;
}

.content-center {
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-around {
  justify-content: space-around;
}

.gap {
  gap: 20px;
}

.gap-5 {
  gap: 5px;
}

.justify-center {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.switch-btn {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.content {
  background-color: #fafafa;
}

.display-flex {
  display: flex;
}

.col-right {
  justify-content: flex-end;
}

.text-right {
  margin-left: auto;
}

.hot {
  position: relative;
}
.hot::after {
  position: absolute;
  content: "Hot";
  color: white;
  background: #d23336;
  top: 10px;
  left: 20px;
  text-align: center;
  width: 65px;
}

.read-more-btn {
  background: #1169b6;
  color: white;
  padding: 10px 15px;
}
.read-more-btn:hover {
  color: white;
  background: #073d6d;
}

.old-price {
  opacity: 50%;
  font-size: 12px;
  text-decoration: line-through;
}

.price {
  font-size: 15px;
  color: #1169b6;
}

.title {
  font-size: 25px;
}

.subtitle {
  font-size: 12px;
  opacity: 70%;
}

.view-more {
  font-weight: 600;
  color: black;
}

.big-num {
  font-size: 50px;
  color: #1169b6;
}

.row {
  position: relative;
}
.row [class^=btn-] {
  position: absolute;
  top: 50%;
}
.row .btn-right {
  left: 100%;
}
.row .btn-left {
  right: 100%;
}

.block-title {
  margin: 20px 0;
}
.block-title :last-child {
  margin-left: 10px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav .active {
  height: 100%;
  border-bottom: 3px solid #5687f1;
  display: inline-block;
  margin-top: 15px;
  padding-bottom: 15px;
}

.vertical {
  gap: 0;
}
.vertical li {
  margin-right: 0;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
}
.vertical li a {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 15px 0;
}
.vertical li a span {
  margin-left: 20px;
}
.vertical li a:hover {
  background: #dddddd;
}
.vertical .has-dropdown-horizontal a {
  justify-content: space-between;
}
.vertical .has-dropdown-horizontal a span {
  margin: 0;
}
.vertical .has-dropdown-horizontal a span p {
  margin-left: 20px;
}
.vertical .has-dropdown-horizontal .dropdown-icon {
  margin-right: 20px;
  transform: rotate(270deg);
  filter: invert(100%);
}

.search-form {
  align-items: center;
  gap: 5px;
}
.search-form .search-field::placeholder {
  padding-left: 20px;
}
.search-form .select-category {
  position: absolute;
  opacity: 50%;
  top: 0;
  right: 0;
  bottom: 0;
}
.search-form .select-category a {
  height: 100%;
  align-items: center;
  padding-right: 20px;
}
.search-form .search-field {
  position: relative;
  width: 100%;
  box-shadow: 0 0 25px rgb(243, 242, 242);
}
.search-form .search-field input {
  border-radius: 5px;
  border: 1px solid rgba(51, 51, 51, 0.1019607843);
  margin-right: 5px;
  width: 100%;
  padding-left: 10px;
  height: 40px;
}
.search-form .search-button {
  color: white;
  background: #1169b6;
  border: 1px solid #1169b6;
  border-radius: 5px;
  height: 44px;
  min-width: 50px;
}
.search-form .search-button:hover {
  background: gray;
}

.has-dropdown > ::after {
  content: url("../../img/svg/dropdown-sign.svg");
  margin-left: 10px;
}

.scheme-light {
  color: white;
}
.scheme-light a {
  color: white;
}
.scheme-light a:hover {
  color: #617cf3;
}
.scheme-light *::after {
  filter: invert(0%);
}

.usa {
  display: inline-block;
}

.scheme-dark {
  color: black;
}
.scheme-dark a {
  color: black;
}
.scheme-dark a:hover {
  color: #617cf3;
}
.scheme-dark *::after {
  filter: none;
}

.style-bordered > :not(:last-child)::after {
  content: "";
  background-color: #2978bd;
  padding-left: 2px;
  margin-right: 10px;
  margin-left: 10px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

[class^=col] {
  padding-left: 10px;
  padding-right: 10px;
}

.col-auto {
  flex-basis: auto;
  flex-grow: 1;
}

.col-fixed {
  flex: 0 0 auto;
}

.col-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 558.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.header-top {
  background-color: #1169b6;
}
.header-top .row {
  height: 40px;
  align-items: center;
}
.header-top .row .subtitle {
  opacity: 95%;
}
.header-top .row > :first-child .nav {
  display: flex;
  gap: 20px;
}
.header-top .row > :last-child {
  display: flex;
}
.header-top .row > :last-child p {
  margin-right: 10px;
}
.header-top .row .nav {
  gap: 0;
}

.header-middle .row {
  height: 92px;
  align-items: center;
}
.header-middle .row > :last-child {
  display: flex;
  align-items: center;
}
.header-middle .profile-element span {
  margin-left: 10px;
}
.header-middle .profile-element a {
  display: flex;
  position: relative;
  align-items: center;
}
.header-middle .profile-element.wish {
  margin: 0 20px;
}
.header-middle [class^=col-] {
  flex-direction: row;
}

.header-bottom .row {
  height: 60px;
  align-items: center;
}
.header-bottom .browse-categories {
  position: relative;
}
.header-bottom .dropdown-title {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  background: #000000;
  border-radius: 5px 5px 0 0;
}
.header-bottom .dropdown-title :first-child {
  margin-left: 10px;
}
.header-bottom .dropdown-title :first-child .browse-sign {
  margin-right: 15px;
}
.header-bottom .dropdown-title :last-child {
  margin-right: 20px;
}
.header-bottom .dropdown {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
}
.header-bottom .dropdown a {
  padding-left: 10px;
}

.slider-block {
  margin-bottom: 40px;
}

.slider {
  position: relative;
  border-radius: 5px;
  margin-top: 20px;
  height: 600px;
}
.slider .slider-bg {
  box-shadow: 0 0 25px rgb(231, 231, 231);
  height: inherit;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 15px;
}
.slider .slider-bg img {
  height: inherit;
  width: 100%;
  border-radius: 5px;
}
.slider .product {
  box-shadow: none;
}
.slider > .row {
  height: 100%;
  align-items: center;
}
.slider > .row .row {
  margin: auto;
  flex-direction: column;
  gap: 20px;
}
.slider .slider-btn {
  position: absolute;
  bottom: 70px;
  left: 10px;
}
.slider .slider-description {
  justify-content: space-between;
  height: 100%;
}
.slider .slider-description h4 {
  font-size: 26px;
  margin-bottom: 10px;
}
.slider .slider-description p {
  opacity: 70%;
  margin-bottom: 10px;
}
.slider .slider-description .btn {
  background: #f1bb2f;
  justify-content: center;
  width: 125px;
}
.slider .slider-description .btn:hover {
  background: #bd901f;
}

.banner {
  position: relative;
  box-shadow: 0 0 25px rgb(231, 231, 231);
}
.banner .banner-bg img {
  width: 100%;
  border-radius: 5px;
}
.banner .banner-content {
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.banner .banner-content .subtitle {
  opacity: 70%;
  max-width: 180px;
}

.promo-banner .banner .subtitle {
  margin-bottom: 20px;
}

.bestsellers {
  margin-bottom: 110px;
  display: flex;
  align-items: center;
}
.bestsellers .col-3 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.bestsellers .title {
  margin-left: 10px;
}
.bestsellers .bestseller-img {
  border-radius: 5px;
  max-width: 100%;
}

.top-brands {
  position: relative;
  margin-bottom: 50px;
}
.top-brands .crown-icon {
  margin-right: 20px;
}
.top-brands .brands {
  margin-top: -150px;
}
.top-brands .top-brands-bg {
  background: #f1bb2f;
  height: 200px;
  width: 80%;
  border-radius: 5px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.top-brands .brand-img {
  max-width: 100%;
}
.top-brands .top-brands-title {
  margin-bottom: 50px;
}
.top-brands .top-brands-title .row {
  margin: 0 -100px;
}
.top-brands .top-brands-heading {
  padding: 20px 0;
}
.top-brands .container .row .col-auto .brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hot-category {
  padding: 40px 0;
  margin-bottom: 40px;
  background: no-repeat url("../../img/categories/hyperion-category-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.hot-category .banner-bg img {
  width: 100%;
  border-radius: 5px;
}
.hot-category .banner-content {
  justify-content: space-between;
  margin: 20px 0px;
}
.hot-category .banner-content .description .btn {
  margin-top: 20px;
  font-weight: 600;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 15px;
}
.hot-category .banner-content .description .title {
  padding-bottom: 30px;
}
.hot-category .category {
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 36px;
  box-shadow: 0 0 25px rgb(230, 230, 230);
}
.hot-category .category-img img {
  display: block;
  max-width: 100px;
}

.recomend-products {
  margin-bottom: 40px;
}
.recomend-products .counter {
  gap: 5px;
  margin-bottom: 20px;
}
.recomend-products .counter .data {
  line-height: 1;
  background: white;
  padding: 10px 10px;
  margin-bottom: 28px;
}
.recomend-products .counter .data .time {
  font-size: 25px;
}
.recomend-products .product {
  margin-bottom: 70px;
  box-shadow: none;
}
.recomend-products .col-8 .row {
  margin-bottom: 20px;
}
.recomend-products .nav .active {
  margin-top: 0;
  padding-bottom: 0;
}
.recomend-products .banner .title {
  margin-bottom: 20px;
}
.recomend-products .text {
  margin-bottom: 20px;
  opacity: 60%;
  width: 70%;
}

article {
  margin-bottom: 50px;
}
article .switch-btn {
  max-height: none;
}
article .article {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 25px rgb(231, 231, 231);
}
article img {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}
article .article-content .subtitle {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dadada;
}
article .article-content {
  padding: 0 20px;
}
article .author {
  padding: 20px;
}
article .author .author-name {
  font-size: 12px;
  margin-left: 10px;
}

.subscribe {
  background: no-repeat url("../../img/hyperion-subscribe-bg.jpg");
  background-size: cover;
  padding: 50px 0;
  margin-bottom: 20px;
}
.subscribe .title {
  max-width: 300px;
}
.subscribe .search-button {
  height: 40px;
  width: 135px;
}

.footer-menu {
  margin: 40px 0;
}
.footer-menu .title,
.footer-menu .hyperion-logo {
  margin-bottom: 20px;
}

.partnership {
  margin: 40px 0;
}
.partnership .col-auto {
  gap: 5px;
}

@media screen and (max-width: 1800px) {
  .top-brands .top-brands-bg {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */