@import "reset.css";
@import "home2.css";
// @import "old-style.scss";

/* Glogal options */


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 20px;
}

.closed {
    display: none;
}


.reset-text-margin {
    margin-bottom: 0;
}

.title {
    margin-bottom: 0;
}

.subtitle {
    margin-bottom: 0;
}

.dropdown p {
    margin-bottom: 0;
}


.text {
    font-size: 15px;
    opacity: 70%;
}

.btn {
    border-radius: 5px;
    font-size: 14px;
}

.lite-text {
    opacity: 30%;
    font-size: 12px;
}

.out-shadow {
    box-shadow: 0 0 25px rgb(231, 231, 231);
}

.products {
    margin-bottom: 20px;

    .product-title {
        font-weight: 600;
        font-size: 14px;
    }

    .product-img {
        min-width: 100px;
    }


    .product-content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

}

.purchase-now {
    color: #1169B6;

    :active {
        color: #1169B6;
    }
}

.design-horizontal {
    display: flex;
    align-items: center;

    .product-img {
        & img {
            max-width: 120px;
            padding: 15px;
        }

        margin-bottom: 10px;
    }

    .product-content {
        p {
            margin-bottom: 0;
        }
    }
}

.bg-white {
    background-color: white;
    border-radius: 5px;
}


// info-blocks

.info-blocks {
    & .container {
        padding: 20px 0;
    }

    & .info-img img {
        max-width: 46px;
    }
}

.info-block {
    gap: 40px;

    & .subtitle {
        margin-bottom: 0;
    }

    & .title {
        margin-bottom: 15px;
    }
}


// list-menu 

.list-menu {
    & li {
        margin-bottom: 15px;
    }

    img {
        display: inline;
    }
}






.content-center {
    align-items: center;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}


.gap {
    gap: 20px;
}

.gap-5 {
    gap: 5px;
}

.justify-center {
    justify-content: center;
}


.column {
    flex-direction: column;
}

.switch-btn {
    display: inline-block;
    height: 25px;
    width: 25px;
}


.content {
    background-color: #fafafa;
}


.display-flex {
    display: flex;
}

.col-right {
    justify-content: flex-end;
}

.text-right {
    margin-left: auto;
}


.hot {
    position: relative;

    &::after {
        position: absolute;
        content: "Hot";
        color: white;
        background: #d23336;
        top: 10px;
        left: 20px;
        text-align: center;
        min-width: 65px;

        @media screen and (max-width: 1024px) {
            & {
                font-size: 8px;
                min-width: 20px;
            }
        }
    }
}

.read-more-btn {
    background: #1169b6;
    color: white;
    padding: 10px 15px;

    &:hover {
        color: white;
        background: #073d6d;
    }
}



.old-price {
    opacity: 50%;
    font-size: 12px;
    text-decoration: line-through;
}

.price {
    font-size: 15px;
    color: #1169b6;
}

.title {
    font-size: 25px;

}

.subtitle {
    font-size: 12px;
    opacity: 70%;
}


.view-more {
    font-weight: 600;
    color: black;
}

.big-num {
    font-size: 50px;
    color: #1169b6;
}

.row {
    position: relative;

    [class^="btn-"] {
        position: absolute;
        top: 50%;
    }

    .btn-right {
        left: 100%;
    }

    .btn-left {
        right: 100%;
    }
}

.block-title {

    margin: 20px 0;

    img {
        margin-right: 10px;
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;

    & .active {
        height: 100%;
        border-bottom: 3px solid #5687f1;
        display: inline-block;
        margin-top: 15px;
        padding-bottom: 15px;
    }
}

.vertical {
    gap: 0;

    & li {
        margin-right: 0;
        width: 100%;
        border-bottom: 1px solid #f5f5f5;

        & a {
            display: flex;
            height: 100%;
            width: 100%;
            padding: 15px 0;

            & span {
                margin-left: 20px;
            }

            &:hover {
                background: #dddddd;
            }

        }

    }

    .has-dropdown-horizontal {
        & a {
            justify-content: space-between;

            span {
                margin: 0;

                & p {
                    margin-left: 20px;
                }
            }
        }

        .dropdown-icon {
            margin-right: 20px;
            transform: rotate(270deg);
            filter: invert(100%);
        }
    }

    div.product-img {
        min-width: 100px;
        margin-bottom: 0;
        padding: 5px;
    }
}


.input-form {
    align-items: center;
    gap: 5px;

    & .input-field::placeholder {
        padding-left: 20px;
    }

    & .select-category {
        position: absolute;
        opacity: 50%;
        top: 0;
        right: 0;
        bottom: 0;

        a {
            height: 100%;
            align-items: center;
            padding-right: 20px;
        }
    }

    & .input-field {
        position: relative;
        width: 100%;
        box-shadow: 0 0 25px rgb(243, 242, 242);

        input {
            border-radius: 5px;
            border: 1px solid #3333331A;
            margin-right: 5px;
            width: 100%;
            padding-left: 10px;
            height: 40px;
        }
    }

    & .input-button {
        color: white;
        background: #1169b6;
        border: 1px solid #1169b6;
        border-radius: 5px;
        height: 44px;
        min-width: 50px;

        &:hover {
            background: gray;
        }
    }
}

.has-dropdown {
    >::after {
        content: url("../../img/svg/dropdown-sign.svg");
        margin-left: 10px;
    }
}



.scheme-light {
    color: white;

    a {
        color: white;

        &:hover {
            color: #617cf3;
        }
    }

    & *::after {
        filter: invert(0%);
    }
}

.usa {
    display: inline-block;
}

.scheme-dark {
    color: black;

    a {
        color: black;

        &:hover {
            color: #617cf3;
        }
    }

    & *::after {
        filter: none;
    }

}

.style-bordered {
    > :not(:last-child)::after {
        content: "";
        background-color: #2978bd;
        padding-left: 2px;
        margin-right: 10px;
        margin-left: 10px;
    }

}





// column system


.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}


[class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
}


.col-auto {
    flex-basis: auto;
    flex-grow: 1;
}

.col-fixed {
    flex: 0 0 auto;
}

.col-1 {
    flex-basis: calc(100%/12);
    max-width: calc(100%/12);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100%/12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100%/12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100%/12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100%/12) * 5);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100%/12) * 6);
}

.col-7 {
    flex-basis: calc((100% / 12) * 67);
    max-width: calc((100%/12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100%/12) * 8);
}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100%/12) * 9);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100%/12) * 10);
}

.col-11 {
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100%/12) * 11);
    ;
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100%/12) * 12);
}

// HEADER


// header-top



.header-top {
    background-color: #1169b6;

    .row {
        height: 40px;
        align-items: center;

        .subtitle {
            opacity: 95%;
            margin-bottom: 0;
        }

        >:first-child .nav {
            display: flex;
            gap: 20px;
        }

        >:last-child {
            display: flex;

            p {
                margin-right: 10px;
            }

        }

        .nav {
            gap: 0;
        }

    }
}

// header-middle

.header-middle {
    .row {
        height: 92px;
        align-items: center;

        >:last-child {
            display: flex;
            align-items: center;
        }
    }


    .profile-element {
        span {
            margin-left: 10px;
        }

        a {
            display: flex;
            position: relative;
            align-items: center;
        }
    }

    .profile-element.wish {
        margin: 0 20px;
    }



    [class^="col-"] {
        flex-direction: row;
    }
}



// Header Bottom  
.header-bottom {
    .row {
        height: 60px;
        align-items: center;
    }

    .browse-categories {
        position: relative;
    }

    .dropdown-title {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 300px;
        background: #000000;
        border-radius: 5px 5px 0 0;

        :first-child {
            .browse-sign {
                margin-right: 15px;
            }

            margin-left: 10px;
        }

        :last-child {
            margin-right: 20px;
        }
    }

    .dropdown {
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 0;
        right: 0;
        background: white;

        & a {
            padding-left: 10px;
        }
    }

    p {
        margin-bottom: 0;
    }


}







// Content


// Slider

.slider-block {
    margin-bottom: 40px;
}

.slider {

    position: relative;
    border-radius: 5px;
    margin-top: 20px;
    height: 580px;


    .slider-bg {
        box-shadow: 0 0 25px rgb(231, 231, 231);
        height: inherit;
        display: block;

        img {
            height: inherit;
            width: 100%;
            border-radius: 5px;
        }

        position: absolute;
        top: 0;
        right: 0;
        left: 15px;
    }

    .product {
        box-shadow: none;
    }

    >.row {
        align-items: center;

        & .row {
            margin: auto;
            flex-direction: column;
            gap: 20px;
        }
    }




    .slider-btn {
        position: absolute;
        bottom: 70px;
        left: 10px;
    }

    .slider-description {
        justify-content: space-between;
        height: 100%;

        h4 {
            font-size: 26px;
            margin-bottom: 10px;
        }

        p {
            opacity: 70%;
            margin-bottom: 10px;
        }

        .btn {
            background: #f1bb2f;
            justify-content: center;
            width: 125px;

            &:hover {
                background: #bd901f;
            }
        }
    }
}

// banner
.banner {
    position: relative;
    box-shadow: 0 0 25px rgb(231, 231, 231);

    .banner-bg {
        & img {
            min-width: 250px;
            border-radius: 5px;
        }
    }

    .banner-content {
        width: 100%;
        padding: 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;

        & .subtitle {
            opacity: 70%;
            max-width: 180px;
        }
    }
}

// promo-banner 

.promo-banner {
    margin-bottom: 20px;

    .title {
        margin-bottom: 15px;
    }
}

// Bestsellers

.bestsellers {
    margin-bottom: 110px;
    display: flex;
    align-items: center;

    .products {
        width: 95%;
        margin: 0 auto;
    }

    .product {
        box-shadow: none;
    }

    .col-3 {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .title {
        margin-left: 10px;
    }

    .bestseller-img {
        border-radius: 5px;
        min-width: 200px;
    }
}




// Top brands
.crown-icon {
    margin-right: 20px;
}

.brands {
    width: 95%;
    margin: 0 auto;
    margin-top: -200px;
}

.top-brands-bg {
    background: #f1bb2f;
    height: 200px;
    width: 80%;
    border-radius: 5px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.brand-img {
    max-width: 100%;
}

.top-brands-heading {
    padding: 20px 0;
}

.top-brands {

    position: relative;
    margin-bottom: 50px;

    .brand {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}




// Hot category

.hot-category {
    padding: 40px 0;
    margin-bottom: 40px;
    background: no-repeat url("../../img/categories/hyperion-category-bg.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;

    .banner-bg img {
        width: 100%;
        border-radius: 5px;
    }

    .banner-content {
        justify-content: space-between;
        margin: 20px 0px;

        .description {
            .btn {
                margin-top: 20px;
                font-weight: 600;
                background: #ffffff;
                border-radius: 5px;
                padding: 10px 15px;
            }

            .title {
                padding-bottom: 30px;
            }
        }
    }

    .category {
        justify-content: space-between;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 36px;
        box-shadow: 0 0 25px rgb(230, 230, 230);
    }

    .category-img {
        img {
            display: block;
            max-width: 100px;
        }
    }


}



// Recomend Products
.counter {
    gap: 5px;
    margin-bottom: 20px;

    .subtitle {
        margin-bottom: 0;
    }

    span.time {
        font-weight: 700;
    }

    .data {
        line-height: 1;

        .time {
            font-size: 25px;
        }

        background: white;
        padding: 10px 10px;
        margin-bottom: 28px;
        width: 50px;
    }
}

.recomend-products {
    margin-bottom: 40px;

    .product {
        margin-bottom: 70px;
        box-shadow: none;
    }

    .col-8:first-child {
        margin-bottom: 20px;
    }


    .nav {
        & .active {
            margin-top: 0;
            padding-bottom: 0;
        }
    }

    .banner .title {
        margin-bottom: 20px;
    }

    .text {
        margin-bottom: 20px;
        opacity: 60%;
        width: 70%;
    }


}

.wrap {
    flex-wrap: wrap;
}

// our-blog

.articles {

    article {
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 25px rgb(231, 231, 231);
    }

    .block-title.title {
        padding: 10px;
    }

    img {
        max-width: 100%;
        border-radius: 5px 5px 0 0;
    }


    .article-content .subtitle {
        border-bottom: 1px solid #dadada;
        padding-bottom: 10px;
    }

    .article-content {
        padding: 0 20px;
    }

    .author {
        padding: 20px;

        p {
            margin-bottom: 0;
        }

        .author-name {
            font-size: 12px;
            margin-left: 10px;
        }
    }


    margin-bottom: 50px;
}


// FOOTER


// subscribe 
.subscribe {
    background: no-repeat url('../../img/hyperion-subscribe-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-bottom: 20px;

    .title {
        max-width: 300px;
    }

    .input-button {
        height: 40px;
        width: 135px;
    }

}



// footer-menu

.footer-menu {
    margin: 40px 0;

    .title,
    .hyperion-logo {
        margin-bottom: 20px;
    }

}

// partnership 

.partnership {
    margin: 40px 0;

    .col-auto {
        gap: 5px;
    }
}



@media screen and (max-width: 1800px) {
    .top-brands .top-brands-bg {
        width: 100%;
    }
}