// Slider

.slider-block {
    margin-bottom: 40px;
}

.slider {

    position: relative;
    border-radius: 5px;
    margin-top: 20px;
    height: 580px;


    .slider-bg {
        box-shadow: 0 0 25px rgb(231, 231, 231);
        height: inherit;
        display: block;

        img {
            height: inherit;
            width: 100%;
            border-radius: 5px;
        }

        position: absolute;
        top: 0;
        right: 0;
        left: 15px;
    }

    .product {
        box-shadow: none;
    }

    >.row {
        align-items: center;

        & .row {
            margin: auto;
            flex-direction: column;
        }
    }




    .slider-btn {
        position: absolute;
        bottom: 70px;
        left: 10px;
    }

    .slider-description {
        justify-content: space-between;
        height: 100%;

        h4 {
            margin-bottom: 10px;
        }

        .btn {
            background: #f1bb2f;
            justify-content: center;
            width: 125px;

            &:hover {
                background: #bd901f;
            }
        }
    }
}

// banner
.banner {
    position: relative;
    box-shadow: 0 0 25px rgb(231, 231, 231);

    .banner-bg {
        & img {
            min-width: 250px;
            border-radius: 5px;
        }
    }

    .banner-content {
        width: 100%;
        padding: 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;

        & .subtitle {
            opacity: 70%;
            max-width: 180px;
        }
    }
}

// promo-banner 

.promo-banner {
    margin-bottom: 20px;

    .title {
        margin-bottom: 15px;
    }
}

// Bestsellers

.bestsellers {
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    align-items: center;

    .col-3 {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }


    .bestseller-img {
        border-radius: 5px;
        min-width: 200px;
    }
    @media screen and (max-width: 1300px)  {
        width: 90%;
    }
}




// Top brands


.brands {
    width: 95%;
    margin: 0 auto;
    margin-top: -200px;
}

.carousel-bg  {
    background: #f1bb2f;
    border-radius: 5px;
    height: 200px;
    width: calc(100% + 140px);  
    margin: 0 auto;
    margin-left: -70px;
}



.top-brands-heading {
    padding: 20px 0;
}

.top-brands {
    margin-bottom: 50px;
    .brand {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    @media screen and (max-width: 1300px)  {
        width: 90%;
        .carousel-bg  {
            width: 100%;  
            margin: 0 auto;
        }
    }
}




// Hot category

.hot-category {
    background: no-repeat url("../../img/categories/hyperion-category-bg.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;

    .banner {
        flex: 0 0 auto;
        margin-bottom: 40px;
    }

    .banner-bg img {
        width: 100%;
        border-radius: 5px;
    }

    .banner-content {
        justify-content: space-between;
        margin: 20px 0px;

        .description {
            .btn {
                margin-top: 20px;
                font-weight: 600;
                background: #ffffff;
                border-radius: 5px;
                padding: 10px 15px;
            }

            .title {
                padding-bottom: 30px;
            }
        }
    }

    .category {
        min-height: 180px;
        width: fit-content;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 25px rgb(230, 230, 230);
        .description {
            padding: 5px;
            flex-basis: auto;
            flex: 1 1 auto;
        }

        .category-img {
            padding: 5px;
            flex: 0 0 100px;
            height: 100%;
            width: 100%;
            img {     
                object-fit: cover;
                object-position: center
            }
        }

    }

  

    .info-blocks {
        padding-bottom: 50px;
    }


}



// Recomend Products
.counter {
    gap: 5px;
    margin-bottom: 20px;

    .subtitle {
        margin-bottom: 0;
    }

    span.time {
        font-weight: 700;
    }

    .data {
        line-height: 1;

        .time {
            font-size: 25px;
        }

        background: white;
        padding: 10px 10px;
        margin-bottom: 28px;
        width: 50px;
    }
}

.recomend-products {
    margin-bottom: 40px;

    .nav {
        & .active {
            margin-top: 0;
            padding-bottom: 0;
        }
    }

    .banner .title {
        margin-bottom: 20px;
    }

    .text {
        margin-bottom: 20px;
        max-width: 200px;
    }


}


// our-blog

.articles {

    article {
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 25px rgb(231, 231, 231);
    }

    .block-title.title {
        padding: 10px;
    }

    img {
        max-width: 100%;
        border-radius: 5px 5px 0 0;
    }


    .article-content .subtitle {
        border-bottom: 1px solid #dadada;
        padding-bottom: 10px;
    }

    .article-content {
        padding: 0 20px;
    }

    .author {
        padding: 20px;

        p {
            margin-bottom: 0;
        }

        .author-name {
            font-size: 12px;
            margin-left: 10px;
        }
    }


    margin-bottom: 50px;
}
