@import "home/home.css";
@import "reset/reset.css";
@import "shop/shop.css";
@import "about-us/about-us.css";
@import "contact-us/contact-us.css";
// @import "old-style.scss";

/* Glogal options */



.closed {
    display: none;
}

.design-bordered {
    border-bottom: 1px solid #e6e6e6;
}


.dropdown p {
    margin-bottom: 0;
}

.btn {
    border-radius: 5px;
    font-size: 14px;
}



.out-shadow {
    box-shadow: 0 0 25px rgb(231, 231, 231);
}

.products {
    .product-title {
        font-weight: 600;
        font-size: 14px;
    }

    .product-img {
        min-width: 100px;
    }


    .product-content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

}

.purchase-now {
    color: #1169B6;

    :active {
        color: #1169B6;
    }
}

.design-horizontal {
    display: flex;
    align-items: center;

    .product-img {
        flex: 0 0 auto;

        & img {
            max-width: 120px;
            padding: 15px;
        }
    }

    .product-content {
        flex: 1 1 auto;

        p {
            margin-bottom: 0;
        }
    }
}

.bg-white {
    background-color: white;
    border-radius: 5px;
}


// info-blocks

.info-blocks {
    margin-bottom: 50px;
}


.info-block {
    gap: 40px;

    & img {
        min-width: 30px;
    }

    & .subtitle {
        margin-bottom: 0;
    }

    & .title {
        margin-bottom: 15px;
        font-weight: 500;
    }

    @media screen and (max-width: 1200px) {
        flex-direction: column; 
    }
}


// list-menu 

.list-menu {
    & li {
        margin-bottom: 15px;
    }

    img {
        display: inline;
    }
}






.content-center {
    align-items: center;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}


.gap {
    gap: 20px;
}

.gap-5 {
    gap: 5px;
}

.justify-center {
    justify-content: center;
}


.column {
    flex-direction: column;
}

.switch-btn {
    display: flex;
    height: 25px;
    width: 25px;
}


.content {
    background-color: #fafafa;
}


.display-flex {
    display: flex;
}

.col-right {
    justify-content: flex-end;
}

.text-right {
    margin-left: auto;
}


.hot {
    position: relative;

    &::after {
        position: absolute;
        content: "Hot";
        color: white;
        background: #d23336;
        top: 10px;
        left: 20px;
        text-align: center;
        min-width: 65px;

        @media screen and (max-width: 1024px) {
            & {
                font-size: 8px;
                min-width: 20px;
            }
        }
    }
}


.bold {
    font-weight: 700;
}



.read-more-btn {
    background: #1169b6;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;

    &:hover {
        color: white;
        background: #073d6d;
    }
}



.old-price {
    opacity: 50%;
    font-size: 12px;
    text-decoration: line-through;
}

.price {
    font-size: 15px;
    color: #1169b6;
}




.view-more {
    font-weight: 600;
    color: black;
}

.big-num {
    font-size: 50px;
    color: #1169b6;
}

.row {
    position: relative;

    [class^="btn-"] {
        position: absolute;
        top: 50%;
    }

    .btn-right {
        left: 100%;
    }

    .btn-left {
        right: 100%;
    }
}



.block-title {

    padding: 20px 0;

    img {
        margin-right: 10px;
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;

    & .active {
        height: 100%;
        border-bottom: 3px solid #5687f1;
        display: inline-block;
        margin-top: 15px;
        padding-bottom: 15px;
    }
}

.vertical {
    gap: 0;

    & li {
        margin-right: 0;
        width: 100%;
        border-bottom: 1px solid #f5f5f5;

        & a {
            display: flex;
            height: 100%;
            width: 100%;
            padding: 15px 0;

            & span {
                margin-left: 20px;
            }

            &:hover {
                background: #dddddd;
            }

        }

    }

    .has-dropdown-horizontal {
        & a {
            justify-content: space-between;

            span {
                margin: 0;

                & p {
                    margin-left: 20px;
                }
            }
        }

        .dropdown-icon {
            margin-right: 20px;
            transform: rotate(270deg);
            filter: invert(100%);
        }
    }

    div.product-img {
        min-width: 100px;
        margin-bottom: 0;
        padding: 5px;
    }
}


.input-form {
    align-items: center;
    gap: 5px;

    & .input-field::placeholder {
        padding-left: 20px;
    }

    & .select-category {
        position: absolute;
        opacity: 50%;
        top: 0;
        right: 0;
        bottom: 0;

        a {
            height: 100%;
            align-items: center;
            padding-right: 20px;
        }
    }

    & .input-field {
        position: relative;
        width: 100%;
        box-shadow: 0 0 25px rgb(243, 242, 242);

        input {
            border-radius: 5px;
            border: 1px solid #3333331A;
            margin-right: 5px;
            width: 100%;
            padding-left: 10px;
            height: 40px;
        }
    }

    & .input-button {
        color: white;
        background: #1169b6;
        border: 1px solid #1169b6;
        border-radius: 5px;
        height: 40px;
        min-width: 40px;

        &:hover {
            background: gray;
        }
    }
}

.has-dropdown {
    >::after {
        filter: invert(100%);
        content: url("../img/svg/dropdown-sign.svg");
        margin-left: 10px;

    }
}

.no-filter {
    ::after {
        filter: invert(0%);
    }
}

.space-between {
    justify-content: space-between;
}

.scheme-light {
    color: white;

    a {
        color: white;

        &:hover {
            color: #617cf3;
        }
    }
}

.usa {
    display: inline-block;
}

.scheme-dark {
    color: black;

    a {
        color: black;

        &:hover {
            color: #617cf3;
        }
    }
}

.style-bordered {
    > :not(:last-child)::after {
        content: "";
        background-color: #2978bd;
        padding-left: 2px;
        margin-right: 10px;
        margin-left: 10px;
    }

}


.text-center {
    text-align: center;
}

// font system

.opacity-30 {
    opacity: 30%;
}

.opacity-50 {
    opacity: 50%;
}

.opacity-80 {
    opacity: 80%;
}


// text size

p {
    font-size: 15px;
}

.reset-text-margin {
    margin-bottom: 0;
}

.title {
    font-size: 25px;
    margin-bottom: 0;
}

.subtitle {
    font-size: 12px;
    opacity: 70%;
    margin-bottom: 0;
}

.text {
    opacity: 70%;
}

.size-s {
    font-size: 12px;
}

.size-m {
    font-size: 15px;
}

h5 {
    font-size: 20px;
}

h4 {
    font-size: 25px;
}

h3 {
    font-size: 32px;
}

h2 {
    font-size: 40px;
}



// column system


.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;

}

.row-spacing {
    .row {
        margin-bottom: -20px;
    }

    [class^="col-"] {
        padding-bottom: 20px;
    }
}


[class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}


.col-auto {
    flex-basis: auto;
    flex-grow: 1;
}

.col-fixed {
    flex: 0 0 auto;
}

.col-1 {
    flex-basis: calc(100%/12);
    max-width: calc(100%/12);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100%/12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100%/12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100%/12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100%/12) * 5);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100%/12) * 6);
}

.col-7 {
    flex-basis: calc((100% / 12) * 67);
    max-width: calc((100%/12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100%/12) * 8);
}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100%/12) * 9);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100%/12) * 10);
}

.col-11 {
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100%/12) * 11);
    ;
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100%/12) * 12);
}


// HEADER


// header-top



.header-top {
    background-color: #1169b6;

    .row {
        height: 40px;
        align-items: center;

        .subtitle {
            opacity: 95%;
        }

        >:first-child .nav {
            display: flex;
            gap: 20px;
        }

        >:last-child {
            display: flex;

            p {
                margin-right: 10px;
            }

        }

        .nav {
            gap: 0;
        }

    }

    @media screen and (max-width: 768px) {
        .row {
            flex-direction: column;
        }
    }
}

// header-middle

.header-middle {
    .row {
        height: 92px;
        align-items: center;

        >:last-child {
            display: flex;
            align-items: center;
        }
    }


    .profile-element {
        span {
            margin-left: 10px;
        }
    }

    .profile-element.wish {
        margin: 0 20px;
    }



    [class^="col-"] {
        flex-direction: row;
    }

    @media screen and (max-width: 768px) {
        .logo {
            justify-self: center;
        }

        .row {
            flex-direction: column;
        }
    }


}



// Header Bottom  
.header-bottom {
    .row {
        height: 60px;
        align-items: center;
    }

    .browse-categories {
        position: relative;
    }

    .dropdown-title {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 300px;
        background: #000000;
        border-radius: 5px 5px 0 0;

        .browse-sign {
            margin-right: 15px;
            margin-left: 10px;
        }

        .dropdown-icon {
            margin-right: 20px;
        }
    }

    @media screen and (max-width: 1200px) {
        .dropdown {
            display: none;
        }

        .dropdown-title {
            border-radius: 5px 5px 0 0;

            .button-title,
            .right {
                display: none;
                margin: 0;
            }

            .left {
                width: 100%;
                text-align: center;
            }

            .browse-sign {
                width: 60%;
                margin: 0;
            }

            min-width: 60px;
        }
    }

    .dropdown {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        right: 0;
        background: white;

        & a {
            padding-left: 10px;
        }
    }

    p {
        margin-bottom: 0;
    }

    @media screen and (max-width: 768px) {
        .nav {
            justify-content: space-between;
        }
    }

}



// FOOTER


// subscribe 
.subscribe {
    background: no-repeat url('../img/hyperion-subscribe-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-bottom: 20px;

    .title {
        max-width: 300px;
    }

    .input-button {
        height: 40px;
        width: 135px;
    }

    @media screen and (max-width: 1200px) {
        .info-block {
            flex-direction: row; 
        }
    }
}



// footer-menu

.footer-menu {
    margin: 40px 0;

    .title,
    .hyperion-logo {
        margin-bottom: 20px;
    }

}

// partnership 

.partnership {
    margin: 40px 0;

    .col-auto {
        gap: 5px;
    }
}




@media screen and (max-width: 1200px) {
    .container {
        max-width: 95%;
    }
}