.shop-heading {
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;

    .breadcrumb {
        & li:not(:first-child)::before {
            content: "/";
            margin: 15px;
        }
    }
}

// pagination
.pagination {
    margin: 0 auto;
    margin-bottom: 100px;
    width: fit-content;
    position: relative;

    p {
        margin-bottom: 0;
    }

    & .active {
        color: white;
    }

    .pagination-button a {
        display: block;

        &:active {
            color: #e6e6e6;
        }
    }

    .pagination-button.active a {
        background-color: #1169b6;
        border: 1px solid black;
    }

    .pagination-button a {

        background-color: #ffffff;
        border: 1px solid black;
        padding: 5px 12px;
    }

    .text {
        opacity: 100%;
        font-size: 15px;
    }

    .arrow-right img {
        filter: invert(0%);
        margin-left: 2px;
    }
}


.show-more {
    a {
        
        &::after {
            content: "/";
            margin: 0 5px;
        }

        &:last-child::after {
            content: "";
        }
    }

}

.show-more-icons img {
    padding: 5px;
}

// side-bar

.side-bar {
    .block-title {
        width: 100%;

        margin-bottom: 20px;
    }

}

.side-bar-list {
    li {
        margin: 20px 0;
        a {
            display: block;
            width: 100%;
            font-size: 15px;
            opacity: 70%;
        }
    }
}

// price block 

.price-block {
    .block-title {
        margin-bottom: 50px;
    }
}

.price-range {
    margin-bottom: 50px;
    
    .price-picker {
        width: 100%;
        margin-bottom: 30px;
        .passive {
            height: 2px;
            background: #e2e6e8;
        }
        .active {
            position: relative;
            height: 2px;
            width: 60%;
            background: #1169b6;

            .choise-circle {
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 100%;
                background: white;
                border: 3px solid #1169b6 ;
                &:hover {
                    background: rgb(233, 232, 232);
                }
            }

            .left {
                top: -8px;
                left: 0%;
            }

            .right {
                top: -8px;
                right: 0%;
            }
        }
    }
}


// color-block 

.color-block {
    margin-bottom: 50px;
    .block-title {
        margin-bottom: 20px;
    }

    .colors-section {
        .black {
            background: #000;
        }
        .white {
            background: #f0f0f0;
        }
        .gray {
            background: #d0d0d0 ;
        }
        .green {
            background: #747964 ;
        }
        .red {
            background: #c03939;
        }
        .orange {
            background: #f3bb2a;
        }
    }

    .circle {
        display: inline-block;
        border-radius: 100%;
        min-height: 25px;
        min-width: 25px;
        margin-right: 5px;

        &:hover {
            opacity: 30%;
        }
       
    }

    .active {
        border: 1px solid rgb(0, 0, 0);
    }
}

// best-choise-block

.best-choise-block {
    .product {
        background: none;
       
    }

    .design-horizontal .product-img img {
        padding-left: 0;
    }
}

// tags-block 

.tags-block {
    .block-title {
        margin-bottom: 30px;
    }
}

.tags {
    flex-wrap: wrap;
    margin-bottom: 50px;

    .tag {
        display: block;
        padding: 5px 10px;
        border: 1px solid #777777;
    }

}