.header-top {
  background-color: #1169b6;
}
.header-top .row {
  height: 40px;
  align-items: center;
}
.header-top .row .subtitle {
  opacity: 95%;
  margin-bottom: 0;
}
.header-top .row > :first-child .nav {
  display: flex;
  gap: 20px;
}
.header-top .row > :last-child {
  display: flex;
}
.header-top .row > :last-child p {
  margin-right: 10px;
}
.header-top .row .nav {
  gap: 0;
}

.header-middle .row {
  height: 92px;
  align-items: center;
}
.header-middle .row > :last-child {
  display: flex;
  align-items: center;
}
.header-middle .profile-element span {
  margin-left: 10px;
}
.header-middle .profile-element a {
  display: flex;
  position: relative;
  align-items: center;
}
.header-middle .profile-element.wish {
  margin: 0 20px;
}
.header-middle [class^=col-] {
  flex-direction: row;
}

.header-bottom .row {
  height: 60px;
  align-items: center;
}
.header-bottom .browse-categories {
  position: relative;
}
.header-bottom .dropdown-title {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  background: #000000;
  border-radius: 5px 5px 0 0;
}
.header-bottom .dropdown-title :first-child {
  margin-left: 10px;
}
.header-bottom .dropdown-title :first-child .browse-sign {
  margin-right: 15px;
}
.header-bottom .dropdown-title :last-child {
  margin-right: 20px;
}
.header-bottom .dropdown {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
}
.header-bottom .dropdown a {
  padding-left: 10px;
}
.header-bottom p {
  margin-bottom: 0;
}

.slider-block {
  margin-bottom: 40px;
}

.slider {
  position: relative;
  border-radius: 5px;
  margin-top: 20px;
  height: 580px;
}
.slider .slider-bg {
  box-shadow: 0 0 25px rgb(231, 231, 231);
  height: inherit;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 15px;
}
.slider .slider-bg img {
  height: inherit;
  width: 100%;
  border-radius: 5px;
}
.slider .product {
  box-shadow: none;
}
.slider > .row {
  align-items: center;
}
.slider > .row .row {
  margin: auto;
  flex-direction: column;
  gap: 20px;
}
.slider .slider-btn {
  position: absolute;
  bottom: 70px;
  left: 10px;
}
.slider .slider-description {
  justify-content: space-between;
  height: 100%;
}
.slider .slider-description h4 {
  font-size: 26px;
  margin-bottom: 10px;
}
.slider .slider-description p {
  opacity: 70%;
  margin-bottom: 10px;
}
.slider .slider-description .btn {
  background: #f1bb2f;
  justify-content: center;
  width: 125px;
}
.slider .slider-description .btn:hover {
  background: #bd901f;
}

.banner {
  position: relative;
  box-shadow: 0 0 25px rgb(231, 231, 231);
}
.banner .banner-bg img {
  min-width: 250px;
  border-radius: 5px;
}
.banner .banner-content {
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}
.banner .banner-content .subtitle {
  opacity: 70%;
  max-width: 180px;
}

.promo-banner {
  margin-bottom: 20px;
}
.promo-banner .title {
  margin-bottom: 15px;
}

.bestsellers {
  margin-bottom: 110px;
  display: flex;
  align-items: center;
}
.bestsellers .products {
  width: 95%;
  margin: 0 auto;
}
.bestsellers .product {
  box-shadow: none;
}
.bestsellers .col-3 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.bestsellers .title {
  margin-left: 10px;
}
.bestsellers .bestseller-img {
  border-radius: 5px;
  min-width: 200px;
}

.crown-icon {
  margin-right: 20px;
}

.brands {
  width: 95%;
  margin: 0 auto;
  margin-top: -200px;
}

.carousel-bg {
  background: #f1bb2f;
  height: 200px;
  width: 80%;
  border-radius: 5px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.brand-img {
  max-width: 100%;
}

.top-brands-heading {
  padding: 20px 0;
}

.top-brands {
  position: relative;
  margin-bottom: 50px;
}
.top-brands .brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hot-category {
  padding: 40px 0;
  margin-bottom: 40px;
  background: no-repeat url("../../img/categories/hyperion-category-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.hot-category .banner-bg img {
  width: 100%;
  border-radius: 5px;
}
.hot-category .banner-content {
  justify-content: space-between;
  margin: 20px 0px;
}
.hot-category .banner-content .description .btn {
  margin-top: 20px;
  font-weight: 600;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 15px;
}
.hot-category .banner-content .description .title {
  padding-bottom: 30px;
}
.hot-category .category {
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 36px;
  box-shadow: 0 0 25px rgb(230, 230, 230);
}
.hot-category .category-img img {
  display: block;
  max-width: 100px;
}

.counter {
  gap: 5px;
  margin-bottom: 20px;
}
.counter .subtitle {
  margin-bottom: 0;
}
.counter span.time {
  font-weight: 700;
}
.counter .data {
  line-height: 1;
  background: white;
  padding: 10px 10px;
  margin-bottom: 28px;
  width: 50px;
}
.counter .data .time {
  font-size: 25px;
}

.recomend-products {
  margin-bottom: 40px;
}
.recomend-products .product {
  margin-bottom: 70px;
  box-shadow: none;
}
.recomend-products .col-8:first-child {
  margin-bottom: 20px;
}
.recomend-products .nav .active {
  margin-top: 0;
  padding-bottom: 0;
}
.recomend-products .banner .title {
  margin-bottom: 20px;
}
.recomend-products .text {
  margin-bottom: 20px;
  opacity: 60%;
  width: 70%;
}

.wrap {
  flex-wrap: wrap;
}

.articles {
  margin-bottom: 50px;
}
.articles article {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 25px rgb(231, 231, 231);
}
.articles .block-title.title {
  padding: 10px;
}
.articles img {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}
.articles .article-content .subtitle {
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
}
.articles .article-content {
  padding: 0 20px;
}
.articles .author {
  padding: 20px;
}
.articles .author p {
  margin-bottom: 0;
}
.articles .author .author-name {
  font-size: 12px;
  margin-left: 10px;
}

.subscribe {
  background: no-repeat url("../../img/hyperion-subscribe-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  margin-bottom: 20px;
}
.subscribe .title {
  max-width: 300px;
}
.subscribe .input-button {
  height: 40px;
  width: 135px;
}

.footer-menu {
  margin: 40px 0;
}
.footer-menu .title,
.footer-menu .hyperion-logo {
  margin-bottom: 20px;
}

.partnership {
  margin: 40px 0;
}
.partnership .col-auto {
  gap: 5px;
}

@media screen and (max-width: 1800px) {
  .top-brands .top-brands-bg {
    width: 100%;
  }
}/*# sourceMappingURL=home.css.map */