
.about-us {
    @media screen and (max-width: 1200px) {
        & .row {
            flex-direction: column;
        }

        & .col-4 {
            max-width: 100%;
            flex-basis: 33.33%;
        }

    }
}

// info-block

.about-us .info-blocks {
    margin-bottom: 120px;

    .info-block {
        border-radius: 5px;
        position: relative;
        z-index: 1;
        padding: 50px;

        .big-num {
            font-weight: 600;
        }

        .text {
            max-width: 320px;
        }

        .hover-bg {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;

            & img {
                width: 100%;
                height: 100%;
                filter: invert(100%);
                border-radius: 5px;
            }
        }


        &:hover {

            p.big-num {
                color: rgb(0, 0, 0);
            }

            & {
                filter: invert(100%);
            }

            .info-content {
                position: relative;
            }

            .hover-bg {
                transition: opacity 0.5s;
                opacity: 1;
            }



        }
    }
}
    



    .our-team {
        margin-bottom: 100px;

        .members {
            width: 95%;
            margin: 0 auto;
        }

        .carousel-bg {
            width: 100%;
            margin: 0 auto;
        }

        .member {
            margin-top: -100px;
            padding: 20px;
        }

        .title {
            margin: 20px 0;
        }

        .text {
            margin-bottom: 20px;
        }

        .team-img img {
            border-radius: 100%;
        }

        .member-bio .subtitle {
            margin-bottom: 20px;
        }


        @media screen and (max-width: 1200px) {

            .team-content {
                margin-bottom: 50px;
                text-align: center;
            }

            .members {
                width: 85%;
            }

            & .col-4 {
                flex: 1 1 100%;
                max-width: 100%;
            }

            & .col-8 {
                flex: 1 1 100%;
                max-width: 100%;
            }



        }
    }

    // questions

    .questions {

        padding-bottom: 100px;

        .block-title {
            .title {
                margin: 20px 0;
                text-transform: capitalize;
                width: 60%;
            }
        }

        .stack-photos {
            overflow: hidden;

            img {
                max-width: 500px;
            }

            & :last-child {
                margin-top: -200px;
                margin-left: auto;
                max-width: 300px;
                top: 50%;
                left: 50%;
            }
        }
    }

    .accordion {
        & :first-child {
            .accordion-heading {
                img {
                    rotate: 180deg;
                }
            }
        }

        .accordion-heading {
            padding: 20px 0;

            img {
                filter: invert(100%);
            }
        }

        .accordion-item {
            .title {
                font-size: 18px;
            }

            border-top: 1px solid #ebebeb;

        }

        border-bottom: 1px solid #ebebeb;
    }